/*
	PrestaShop CSS
	18 used colors: 
	10 grays: #374853 #595a5e #5d717e #76839b #888 #bdc2c9 #d0d1d5 #d0d3d8 #e5e6e7 #f1f2f4
	4 fushias: #f6dce8 #ffb81f #971d58 #5d0630
	2 yellows: #f8e1a0 #f9e400
	1 green: #488c40
	1 red: #da0f00
*/

* {
	padding: 0;
	margin: 0
}
body {
	background-color: #fff;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
	color:#222;
	text-align: left;
}